* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #333333;
  min-height: 100vh; }

.button {
  font-size: 23px;
  font-weight: 300;
  color: #333;
  text-transform: uppercase; }

.button-light {
  font-size: 23px; }

.tile_1 {
  background: linear-gradient(#535c0c21, #535c0c21), url(../img/img.png) no-repeat right/cover;
  background-size: contain;
  flex: 20;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative; }
  .tile_1__logo {
    margin-top: 64px;
    margin-left: 16%; }
  .tile_1__dsgn {
    width: 210px; }
  .tile_1__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 1; }
  .tile_1__social {
    display: flex;
    justify-content: center; }
  .tile_1__social i {
    padding: 0 8px;
    color: #95cac1; }

.tile_2 {
  background: #7acec3;
  flex: 9;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  font-size: 17px;
  text-transform: uppercase; }
  .tile_2__menu {
    width: 160px;
    height: 155px;
    border: 3px solid #fff;
    align-self: center;
    margin-top: 64px;
    margin-bottom: 114px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .tile_2__icon {
    width: 52px;
    height: 22px; }
  .tile_2__address {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 78px;
    margin-bottom: 50px; }
  .tile_2__contact {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 174px; }

.tile_3 {
  height: 100%;
  flex: 9;
  background: #ebb240; }

.tile_4 {
  height: 100%;
  flex: 11;
  background: #ffffff url(../img/lamp.jpg) no-repeat right center/cover;
  background-size: contain; }

.tile_5 {
  height: 100%;
  flex: 2;
  background: url(../img/chair1.jpg) no-repeat center center/cover;
  background-size: height; }

.tile_6 {
  background: linear-gradient(#70706e21, #70706e21), url(../img/chair2.png) no-repeat right/cover;
  background-size: contain;
  height: 100%;
  flex: 5; }

.tile_7 {
  height: 100%;
  flex: 5; }

.tile_8 {
  height: 100%;
  flex: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(../img/metal.png) no-repeat left/cover;
  background-size: contain; }

.tile_9 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(82, 83, 71, 0.03), rgba(82, 83, 71, 0.03)), url(../img/lamp2.png) no-repeat right/cover;
  background-size: contain; }

.tile_10 {
  flex: 9;
  background: linear-gradient(rgba(84, 88, 34, 0.151), rgba(84, 88, 34, 0.151)), url(../img/chair4.png) no-repeat top/cover;
  background-size: contain; }

.tile_11 {
  flex: 5;
  background: url(../img/chair5.png) no-repeat left/cover;
  background-size: contain; }

.tile_12 {
  height: 385px;
  background: #ebb240 }

.tile_23 {
  flex: 1;
  height: 100%;
  background: #2a1515; }

.tile_24 {
  flex: 1;
  height: 100%;
  background: #5a853e; }

.container {
  max-width: 3000px;
  margin: 0 auto;
  min-height: 200vh; }

.header {
  display: flex;
  width: 100%;
  min-height: 640px; }

.project {
  display: flex;
  width: 100%; }

.project_1 {
  display: flex;
  flex-direction: column;
  flex: 20; }

.project_2 {
  display: flex;
  height: 640px;
  width: 100%; }

.project_3 {
  display: flex;
  height: 596px;
  width: 100%; }

.project_4 {
  display: flex;
  height: 385px;
  width: 100%; }

.project_5 {
  display: flex;
  flex-direction: column;
  height: 1621px;
  background: #fff;
  flex: 9; }

.project_6 {
  flex: 5;
  height: 100%;
  background: #dfe0d9; }

.studio {
  display: flex; }

.studio_1 {
  display: flex; }

.studio_2 {
  display: flex; }

.news {
  display: flex; }

.footer {
  display: flex;
  height: 645px; }
