////////////////////////
///////////GENERAL COMPONENTS
.button {
  font-size: 23px;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
}

.button-light {
  font-size: 23px;
}

.header_1 {
  text-transform: uppercase;
  font-size: 61px;
  font-weight: 400;
  color: #fefefe;
  display: block;
}

.header_2 {
  text-transform: uppercase;
  font-size: 31px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
}

.header_2-light {
  text-transform: uppercase;
  font-size: 31px;
  font-weight: 300;
  color: #fff;
  display: block;
  margin-bottom: 22px;
}

.header_3 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 300;
  color: #333;
}

.header_3-light {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.arrow-white {
  width: 25px;
  height: 20px;
}

.arrow-yellow {
  width: 25px;
  height: 18px;
  fill: #ebb240;
  margin-right: 10px;
}

.arrow-red {
  margin-right: auto;
  margin-left: 10px;
  height: 18px;
}

.heart {
  height: 28px;
  width: 30px;
  margin-bottom: 8px;

}

.likes {
  font-size: 14px;
  font-weight: 400;
  color: #ff0000;
}

.likes-dimmed {
  font-size: 14px;
  font-weight: 400;
  color: #fe7c7c;
}

.style_15-bold {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}

.style_15-lite {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}


.style_15-bold-white {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.style_15-lite-white {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
}

.style_17-bold {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
}


////////////////////////
///////////HEADER

.tile_1 {
  background:
    linear-gradient(#535c0c21,
      #535c0c21),
    url(../img/img.png) no-repeat right/cover;
  background-size: contain;
  flex: 20;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  &__logo {
    margin-top: 64px;
    margin-left: 16%;
  }

  &__dsgn {
    width: 210px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 23px;
    line-height: 1;
  }

  &__social {
    display: flex;
    justify-content: center;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__social i {
    padding: 0 8px;
    color: #95cac1;
  }
}

.tile_2 {
  background: #7acec3;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;
  flex: 9;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;

  &__menu {
    width: 160px;
    height: 155px;
    border: 3px solid #fff;
    align-self: center;
    margin-top: 64px;
    margin-bottom: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    width: 52px;
    height: 22px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 13%;
    margin-bottom: 50px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 30%;
  }

}

//////////////////////////////////////
//////////////////////////PROJECT

.tile_3 {
  height: 100%;
  flex: 9;
  background: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__block {
    display: flex;
    margin-top: 217px;
    margin-left: 28%;
  }

  &__arrow {
    margin-right: 15px;
  }

  &__list {
    margin-top: 3px;
  }

  &__dark {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }

  &__light {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
  }

  &__header {
    margin-top: 70px;
    margin-left: 47%;
  }
}

.tile_4 {
  height: 100%;
  flex: 11;
  background: #ffffff url(../img/lamp.jpg) no-repeat right center/cover;
  background-size: contain;
  display: flex;
  flex-direction: column;

  &__model {
    margin-top: 113px;
    // margin-left: 130px;
    margin-left: 18%;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 97px;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;

    margin-top: 148px;
    margin-left: 30%;
  }
}

.tile_5 {
  height: 100%;
  flex: 2;
  background: url(../img/chair1.jpg) no-repeat center center/cover;
  background-size: height;
  display: flex;
  flex-direction: column;

  &__model {
    margin-top: 53px;
    margin-left: 10%;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 49px;
    margin-left: 10%;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 42px;
    margin-left: 35%;
  }

}

.tile_6 {
  background:
    linear-gradient(#70706e21,
      #70706e21),
    url(../img/chair2.png) no-repeat right/cover;
  background-size: contain;
  height: 100%;
  flex: 5;
  display: flex;

  &__model {
    margin-top: 118px;
    margin-left: 49%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-top: 123px;
  }

  &__view {
    display: flex;
    align-items: center;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
}

.tile_7 {
  height: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pic {
    background: linear-gradient(#ffffff21,
        #ffffff21),
      url(../img/chair3.png) no-repeat right/cover;
    background-size: contain;
    height: 200px;
    width: 600px;
    margin-top: 34px;

  }

  &__overview {
    flex: 1;
    width: 550px;
    display: flex;

  }

  &__model {
    flex: 7;
    height: 100%;
    margin-top: 7px;
  }

  &__view {
    flex: 6;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    margin-top: 24px;
  }

}

.tile_8 {
  height: 100%;
  flex: 2;
  background:
    linear-gradient(rgba(0, 0, 0, 0.18),
      rgba(0, 0, 0, 0.18)),
    url(../img/metal.png) no-repeat left/cover;
  background-size: contain;

  &__model {
    margin-top: 102px;
    margin-left: 203px;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 41px;
    margin-left: 163px;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
  }
}

.tile_9 {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(82, 83, 71, 0.03),
      rgba(82, 83, 71, 0.03)),
    url(../img/lamp2.png) no-repeat right/cover;
  background-size: contain;
  display: flex;
  flex-direction: column;

  &__model {
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    margin-top: 47px;
    margin-left: 10%;

  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10%;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    margin-left: 23%;
  }
}


.tile_10 {
  flex: 9;
  background:
    linear-gradient(rgba(84, 88, 34, 0.151),
      rgba(84, 88, 34, 0.151)),
    url(../img/chair4.png) no-repeat top/cover;
  background-size: contain;
  display: flex;
  align-items: flex-end;

  &__model {
    margin-left: 12%;
    margin-bottom: 46px;
    flex: 9;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-bottom: 82px;
    flex: 8;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 54px;
    flex: 4;
  }
}

.tile_11 {
  flex: 5;
  background: url(../img/chair5.png) no-repeat left/cover;
  background-size: 56%;
  display: flex;
  flex-direction: column;


  &__model {
    margin-top: 60px;
    margin-left: 320px;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: 320px;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    margin-left: 405px;
  }
}


.tile_12 {
  height: 385px;
  background: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__block {
    display: flex;
    margin-top: 77px;
    margin-left: 91px;
  }

  &__arrow {
    margin-top: 23px;
    margin-right: 15px;
  }

  &__dark {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 8px;
  }

  &__light {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
  }
}

//////////////////////////////////////
/////////////////////////STUDIO

.tile_13 {
  flex: 22;
  background: #ff9b6d;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__studio {
    margin-top: 380px;
    margin-left: 44%;
  }
}

.tile_14 {
  flex: 22;
  display: flex;
  flex-direction: column;


  &__bold {
    font-size: 23px;
    font-weight: 400;
    line-height: 1;
    font-style: italic;
    margin-top: 120px;
    margin-left: 24%;
    max-width: 444px;


    & p {
      margin-bottom: 18px;
    }
  }

  &__regular {
    font-size: 23px;
    font-weight: 300;
    margin-left: 24%;
    margin-top: 20px;
    max-width: 444px;
    line-height: 1;

    & p {
      margin-bottom: 18px;
    }
  }
}

.tile_15 {
  flex: 26;
  display: flex;
  flex-direction: column;


  &__picture {
    background: url(../img/interior.jpg) no-repeat left/cover;
    background-size: contain;
    height: 258px;
    margin-left: 40px;
    margin-top: 120px;

  }

  &__awards {
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    width: 465px;
    margin-top: 50px;
    padding-bottom: 3px;
  }

  &__text {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    width: 465px;
    margin-top: 35px;

    & p {
      line-height: 1.2;
    }

  }
}

.tile_16 {
  flex: 10;
  margin-right: 15px;

  & p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;

  }

  & p:first-child {
    font-weight: 400;
  }
}

.tile_17 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person1.jpg) no-repeat left, linear-gradient(rgb(255, 255, 255),
        rgb(255, 255, 255));
    background-size: contain;
    height: 185px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 18px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}

.tile_18 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person2.jpg) no-repeat left/cover;
    height: 185px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 18px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}

.tile_19 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person3.jpg) no-repeat left/cover;
    height: 185px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 18px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}


//////////////////////////////////////
//////////////////////////NEWS
.tile_20 {
  background: #d4edbf;
  flex: 1;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__news {
    margin-top: 380px;
    margin-left: 44%;
  }
}

.tile_21 {
  height: 100%;
  width: 475px;
  margin-right: 38px;
  display: flex;
  flex-direction: column;

  &__header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
  }

  &__date {
    font-size: 15px;
    font-weight: 400;
    color: #6a6969;
    margin-bottom: 18px;
  }

  &__pic {
    background: url(../img/lamp3.jpg) no-repeat left/cover;
    height: 230px;
  }

  &__about {
    margin-top: 26px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__paragraph {
    word-spacing: 11px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
  }

  &__read {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    color: #fd5000;
    text-transform: uppercase;
    margin-top: 8px;

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
    }
  }
}

.tile_22 {
  height: 100%;
  width: 475px;
  margin-right: 38px;
  display: flex;
  flex-direction: column;

  &__header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
  }

  &__date {
    font-size: 15px;
    font-weight: 400;
    color: #6a6969;
    margin-bottom: 18px;
  }

  &__pic {
    background: url(../img/chair6.png) no-repeat left/cover;
    height: 230px;
  }

  &__about {
    margin-top: 26px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__paragraph {
    word-spacing: 11px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
  }

  &__read {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    color: #fd5000;
    text-transform: uppercase;
    margin-top: 8px;

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
    }
  }
}


//////////////////////////////////////
//////////////////////////FOOTER
.tile_23 {
  flex: 1;
  height: 100%;
  background: url(../img/map.png) no-repeat left/cover, linear-gradient(#575f387e,
      #575f387e);
  position: relative;

  &__pin {
    position: absolute;
    top: 320px;
    left: 360px;
  }
}

.tile_24 {
  flex: 1;
  height: 100%;
  background: #e9eae2;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    margin-top: 192px;
    margin-left: 16%;
  }

  &__address {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__right {
    margin-left: 16%;
  }

  &__bottom {
    margin-left: 148px;
    margin-top: 105px;
    font-size: 15px;
  }

  &__dsgn {
    width: 210px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 23px;
    line-height: 1;
  }

  &__social {
    display: flex;
    justify-content: center;

  }

  &__social i {
    padding: 0 8px;
    color: #95cac1;

    & a {
      text-decoration: none;
      outline: none;
    }
  }
}