////////////////////////
///////////GENERAL COMPONENTS
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #7acec3;
    border: 2px solid #e9eae2;
    height: 104px;
    width: 108px;
    position: absolute;
    top: 42px;
    right: 15%;
    z-index: 20;
    text-align: center;
    cursor: pointer;

    @media only screen and (max-width: 999px) {
      height: 125px;
      width: 130px;
    }

    @media only screen and (max-width: 999px) {
      right: 5%;
      background-color: #e9eae2;
      border: 4px solid #7acec3;
    }
  }

  &__background {
    height: 104px;
    width: 108px;
    // border-radius: 50%;
    position: absolute;
    top: 42px;
    right: 15%;
    background: #e9eae2;
    z-index: 10;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @media only screen and (max-width: 999px) {
      height: 125px;
      width: 130px;
    }

    @media only screen and (max-width: 999px) {
      right: 5%;
      background: #7acec3;
    }

  }


  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 16px;
  }

  &__link {

    &:link,
    &:visited {
      display: inline-block;
      font-size: 48px;
      font-weight: 300;
      padding: 16px 32px;
      color: #7acec3;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(110deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all .4s;

      @media only screen and (max-width: 999px) {
        color: #e9eae2;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: #333;
      transform: translateX(15px);
    }
  }


  //FUNCTIONALITY
  &__checkbox:checked~&__background {
    transform: scale(80);
  }

  &__checkbox:checked~&__nav {
    opacity: 1;
    width: 100%;
  }


  //ICON
  &__icon {
    position: relative;
    margin-top: 50px;

    @media only screen and (max-width: 999px) {
      margin-top: 55px;
    }

    &,
    &::before,
    &::after {
      width: 35px;
      height: 3px;
      background-color: #e9eae2;
      display: inline-block;

      @media only screen and (max-width: 999px) {
        background-color: #7acec3;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  &__button:hover &__icon::before {
    top: -12px;
  }

  &__button:hover &__icon::after {
    top: 12px;
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}


.button {
  font-size: 23px;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
}

.button-light {
  font-size: 23px;
}

.header_1 {
  text-transform: uppercase;
  font-size: 41px;
  font-weight: 400;
  color: #fefefe;
  display: block;
}

.header_2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}

.header_2-light {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.header_3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #333;
}

.header_3-light {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.arrow-white {
  width: 17px;
  height: 12px;
}

.arrow-yellow {
  width: 17px;
  height: 12px;
  fill: #ebb240;
  margin-right: 6px;
}

.arrow-red {
  margin-right: auto;
  margin-left: 6px;
  width: 17px;
  height: 12px;
}

.heart {
  height: 19px;
  width: 21px;
  margin-bottom: 8px;

}

.likes {
  font-size: 9px;
  font-weight: 400;
  color: #ff0000;
}

.likes-dimmed {
  font-size: 9px;
  font-weight: 400;
  color: #fe7c7c;
}

.style_10-bold {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.1;
}

.style_10-lite {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.1;
}


.style_10-bold-white {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  line-height: 1.1;
}

.style_10-lite-white {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  line-height: 1.1;
}

.style_11-bold {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.1;
}


////////////////////////
///////////HEADER

.tile_1 {
  background:
    linear-gradient(#535c0c21,
      #535c0c21),
    url(../img/img.png) no-repeat right/cover;
  background-size: 105%;
  background-position-x: 10px;
  flex: 167;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;



  &__logo {
    margin-top: 42px;
    margin-left: 18%;
  }

  &__dsgn {
    width: 140px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 15px;
    line-height: 1;
  }

  &__social {
    display: flex;
    justify-content: center;

    & a {
      text-decoration: none;
      outline: none;
    }
  }

  &__social i {
    padding: 0 5px;
    color: #95cac1;
  }

  &__fb {
    font-size: 20px;
  }

  &__twitter {
    font-size: 22px;
  }

  &__in {
    font-size: 22px;
  }

  &__google {
    font-size: 21px;
  }
}

.tile_2 {
  background: #7acec3;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;
  flex: 75;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;




  &__address {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 68%;
    margin-top: 230px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 30%;
    margin-top: 40px;
  }

}

//////////////////////////////////////
//////////////////////////PROJECT

.tile_3 {
  height: 100%;
  flex: 9;
  background: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__block {
    display: flex;
    margin-top: 145px;
    margin-left: 25%;
  }

  &__arrow {
    margin-right: 15px;
  }

  &__list {
    margin-top: 2px;
  }

  &__dark {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__light {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1;
  }

  &__header {
    margin-top: 50px;
    margin-left: 45%;
  }
}

.tile_4 {
  height: 100%;
  flex: 11;
  background: #ffffff url(../img/lamp.jpg) no-repeat right center/cover;
  background-size: contain;
  display: flex;
  flex-direction: column;

  &__model {
    margin-top: 76px;
    margin-left: 18%;
  }

  &__view {

    margin-left: 19%;
    margin-top: 50px;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;

    margin-top: 95px;
    margin-left: 30%;
  }
}

.tile_5 {
  height: 100%;
  flex: 2;
  background: url(../img/chair1.jpg) no-repeat center center/cover;
  background-size: height;
  display: flex;
  flex-direction: column;

  &__model {
    margin-top: 30px;
    margin-left: 10%;
  }

  &__view {

    margin-top: 25px;
    margin-left: 10%;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-left: 35%;
  }

}

.tile_6 {
  background:
    linear-gradient(#70706e21,
      #70706e21),
    url(../img/chair2.png) no-repeat right/cover;
  background-size: contain;
  height: 100%;
  flex: 5;
  display: flex;

  &__model {
    margin-top: 79px;
    margin-left: 48%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-top: 86px;
  }

  &__view {
    display: flex;
    align-items: center;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
}

.tile_7 {
  height: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pic {
    background: linear-gradient(#ffffff21,
        #ffffff21),
      url(../img/chair3.png) no-repeat center/cover;
    background-size: contain;
    height: 134px;
    width: 100%;
    margin-top: 24px;

  }

  &__overview {
    flex: 1;

    display: flex;

  }

  &__model {
    // flex: 7;
    height: 100%;
    margin-top: 7px;
    margin-right: 40px;
  }

  &__view {
    // flex: 9;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 45px;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    // flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    margin-top: 15px;
  }

}

.tile_8 {
  height: 100%;
  flex: 2;
  background:
    linear-gradient(rgba(0, 0, 0, 0.18),
      rgba(0, 0, 0, 0.18)),
    url(../img/metal.png) no-repeat left/cover;
  background-size: contain;

  &__model {
    margin-top: 68px;
    margin-left: 138px;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 27px;
    margin-left: 105px;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 165px;
    margin-top: 30px;
  }
}

.tile_9 {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(82, 83, 71, 0.03),
      rgba(82, 83, 71, 0.03)),
    url(../img/lamp2.png) no-repeat right/cover;
  background-size: contain;
  display: flex;
  flex-direction: column;

  &__model {
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    margin-top: 32px;
    margin-left: 10%;

  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-left: 23%;
  }
}


.tile_10 {
  flex: 9;
  background:
    linear-gradient(rgba(84, 88, 34, 0.151),
      rgba(84, 88, 34, 0.151)),
    url(../img/chair4.png) no-repeat top/cover;
  background-size: contain;
  display: flex;
  align-items: flex-end;

  &__model {
    margin-left: 10%;
    margin-bottom: 25px;
    margin-right: 6%;
    // flex: 9;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
    margin-right: 5%;
    // flex: 8;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 34px;
    // flex: 4;
  }
}

.tile_11 {
  flex: 5;
  background: url(../img/chair5.png) no-repeat center left/cover;
  background-size: 226px;
  display: flex;
  flex-direction: column;


  &__model {
    margin-top: 60px;
    margin-left: 55%;
  }

  &__view {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: 55%;

    & a {
      text-decoration: none;
      outline: none;
      display: flex;
      align-items: center;
    }
  }

  &__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    margin-left: 68%;
  }
}


.tile_12 {
  height: 260px;
  background: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__block {
    display: flex;
    margin-top: 55px;
    margin-left: 20%;
  }

  &__arrow {
    margin-top: 16px;
    margin-right: 10px;
  }

  &__dark {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 8px;
  }

  &__light {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
  }
}

//////////////////////////////////////
/////////////////////////STUDIO

.tile_13 {
  flex: 22;
  background: #ff9b6d;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__studio {
    margin-top: 260px;
    margin-left: 44%;
  }
}

.tile_14 {
  flex: 22;
  display: flex;
  flex-direction: column;


  &__bold {
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    font-style: italic;
    margin-top: 75px;
    margin-left: 24%;
    max-width: 444px;


    & p {
      margin-bottom: 18px;
    }
  }

  &__regular {
    font-size: 15px;
    font-weight: 300;
    margin-left: 24%;
    margin-top: 20px;
    max-width: 444px;
    line-height: 1;

    & p {
      margin-bottom: 18px;
    }
  }
}

.tile_15 {
  flex: 26;
  display: flex;
  flex-direction: column;


  &__picture {
    background: url(../img/interior.jpg) no-repeat left/cover;
    background-size: contain;
    height: 170px;
    margin-left: 10%;
    margin-top: 75px;

  }

  &__awards {
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    width: 300px;
    margin-top: 36px;
    padding-bottom: 3px;
  }

  &__text {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;

    & p {
      line-height: 1.2;
    }

  }
}

.tile_16 {
  flex: 10;
  margin-right: 15px;

  & p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 16px;

  }

  & p:first-child {
    font-weight: 400;
  }
}

.tile_17 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person1.jpg) no-repeat left, linear-gradient(rgb(255, 255, 255),
        rgb(255, 255, 255));
    background-size: contain;
    height: 135px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 14px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}

.tile_18 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person2.jpg) no-repeat left/cover;
    height: 135px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 14px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}

.tile_19 {
  flex: 11;
  display: flex;
  flex-direction: column;

  &__image {
    background: url(../img/person3.jpg) no-repeat left/cover;
    height: 135px;
    margin-left: 37px;
  }

  &__name {
    margin-left: 37px;
    margin-top: 22px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 37px;
    color: #fd5000;

    & p {
      font-weight: 400;
      font-size: 14px
    }

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
      padding: 0 8px;
    }

    & a:first-of-type {
      margin-right: auto;
    }

  }
}


//////////////////////////////////////
//////////////////////////NEWS
.tile_20 {
  background: #d4edbf;
  flex: 1;
  background-image: linear-gradient(to bottom right, transparent 49.9%, #fff, transparent 50.1%);
  background-repeat: no-repeat;

  &__news {
    margin-top: 240px;
    margin-left: 48%;
  }
}

.tile_21 {
  height: 100%;
  flex: 1;
  margin-right: 12px;
  display: flex;
  flex-direction: column;

  &__header {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: justify;
    
  }

  &__date {
    font-size: 10px;
    font-weight: 400;
    color: #6a6969;
    // margin-bottom: 12px;
  }

  &__pic {
    background: url(../img/lamp3.jpg) no-repeat left/cover;
    height: 154px;
    background-size: 100%;
    
  }

  &__about {
    margin-top: 24px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__paragraph {
    word-spacing: 11px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
  }

  &__read {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    color: #fd5000;
    text-transform: uppercase;
    margin-bottom: 20px;
    

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
    }
  }
}

.tile_22 {
  height: 100%;
  flex: 1;
  margin-left: 12px;
  display: flex;
  flex-direction: column;

  &__header {
    height: 70px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.5px;
  
  }

  &__date {
    font-size: 10px;
    font-weight: 400;
    color: #6a6969;
    
    // margin-bottom: 12px;
  }

  &__pic {
    background: url(../img/chair6.png) no-repeat left/cover;
    width: 100%;
    height: 154px;
    background-size: 100%;
  }

  &__about {
    margin-top: 24px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__paragraph {
    word-spacing: 11px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
  }

  &__read {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    color: #fd5000;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    

    & a {
      color: #fd5000;
      text-decoration: none;
      outline: none;
    }
  }
}


//////////////////////////////////////
//////////////////////////FOOTER
.tile_23 {
  flex: 1;
  height: 100%;
  background: url(../img/map.png) no-repeat left/cover, linear-gradient(#575f387e,
      #575f387e);
  position: relative;

  &__pin {
    position: absolute;
    top: 225px;
    left: 250px;
    height: 45px;
  }
}

.tile_24 {
  flex: 1;
  height: 100%;
  background: #e9eae2;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    margin-top: 127px;
    margin-left: 16%;
  }

  &__address {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__right {
    margin-left: 33%;
  }

  &__bottom {
    margin-left: 148px;
    margin-top: 65px;
    font-size: 10px;
    letter-spacing: .2px;
    word-spacing: 2px;
    font-weight: 400;
  }

  &__dsgn {
    width: 135px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 53px;
    font-size: 15px;
    line-height: 1;
  }

  &__social {
    display: flex;
    justify-content: center;

  }

  &__social i {
    padding: 0 8px;
    color: #95cac1;

    & a {
      text-decoration: none;
      outline: none;
    }
  }
}