.container {
  max-width: 1920px;
  margin: 0 auto;
  
}


///////////////////////////////////////
///////////////////HEADER
.header {
  display: flex;
  width: 100%;
  min-height: 640px;
  
  @media only screen and (max-width: 1330px) {
    flex-direction: column;
  }
}

//////////////////////////////////////
////////////////PROJECT
.project {
  display: flex;
  width: 100%;
}

.project_1 {
  display: flex;
  flex-direction: column;
  flex: 20;
}

.project_2 {
  display: flex;
  height: 640px;
  width: 100%;
}

.project_3 {
  display: flex;
  height: 596px;
  width: 100%;  
}

.project_4 {
  display: flex;
  height: 385px;
  width: 100%;
}

.project_5 {
  display: flex;
  flex-direction: column;
  height: 1621px;
  background:#fff;
  flex: 9;
}

.project_6 {
  flex: 5;
  height: 100%;
  background: #dfe0d9;
}


///////////////////////////////////////
///////////////////STUDIO
.studio {
  display: flex;
  flex-direction: column;
  height: 1140px;
  background: #e9eae2;
}

.studio_1 {
  display: flex;
  height: 640px;
}

.studio_2 {
  display: flex;
  flex: 1;
  justify-content: center;
}

.studio_3 {
  width: 1500px;
  justify-content: center;
  display: flex;
  margin-top: 90px;
}

///////////////////////////////////////
///////////////////NEWS
.news {
  display: flex;
  height: 640px;
  background: #e5e9df;
}

.news_1 {
  flex: 2;
  margin-top: 100px;
  margin-left: 130px;
  display: flex;
}


///////////////////////////////////////
///////////////////FOOTER
.footer {
  display: flex;
  height: 825px;
}